// Widescreens
@include XLargeScreens {
}

// Desktops & Laptops
@include largeScreens {
  .container {
    .menu {
      width: 90%;

      &-header {
        h1 {
          font-size: 2rem;
        }
      }
      &-offers {
        padding: 10px;
        grid-template-areas:
          "burgers sandwiches"
          "salads toppings";

        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;

        span {
          margin-right: 5px;
          font-weight: bold;
        }
      }

      .cart {
        #resetBtn {
          margin-top: 15px;
          margin-right: 10px;
          background: lighten($primary-color, 15);

          &:hover {
            background: darken($primary-color, 20);
          }

          &:focus {
            background: darken($primary-color, 30);
            color: white;
          }
        }
        #totalPrice {
          background: lighten($primary-color, 30);
          h3 {
            padding: 20px;
          }
        }
      }
    }
  }
}

@include mediumScreens {
  .container {
    .welcome {
      margin-top: 20px;

      h2 {
        font-size: 2rem;
      }

      p {
        width: 65%;
        font-size: 24px;
        line-height: 1.3;
      }
    }
    .menu {
      width: 90%;

      &-header {
        h1 {
          font-size: 2rem;
        }
      }
      &-offers {
        padding: 10px;
        grid-template-areas:
          "burgers"
          "sandwiches"
          "salads"
          "toppings";

        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;

        span {
          margin-right: 5px;
          font-weight: bold;
        }
      }

      .cart {
        #resetBtn {
          margin-top: 15px;
          margin-right: 10px;
          background: lighten($primary-color, 15);

          &:hover {
            background: darken($primary-color, 20);
          }

          &:focus {
            background: darken($primary-color, 30);
            color: white;
          }
        }
        #totalPrice {
          background: lighten($primary-color, 30);
          h3 {
            padding: 20px;
          }
        }
      }
    }
  }
}

@include smallScreens {
  .container {
    .welcome {
      margin-top: 20px;

      h2 {
        font-size: 1.5rem;
      }

      p {
        width: 65%;
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }

  #totalPrice {
    padding: 0;
    background: lighten($primary-color, 30);
    h3 {
      font-size: 1rem;
      margin-left: 10px;
      padding: 0;
    }
  }
}
