@import "config";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include backgroundImage();
  font-family: "Architects Daughter", cursive;
  user-select: none;
}

#resetBtn {
  width: 110px;
  height: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #470c08;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: darken($primary-color, 10);
    color: white;
    @include easeOut;
  }

  &:focus {
    background: darken($primary-color, 20);
    @include easeOut;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;

  .welcome {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-family: "Architects Daughter", cursive;

    h2 {
      font-size: 3rem;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 40px;
    }

    p {
      width: 45%;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      line-height: 1.8;
    }

    #openBtn {
      width: 90px;
      height: 40px;
      font-size: 16px;
      background: darken($primary-color, 40);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        width: 100px;
        height: 50px;
        font-size: 18px;
        @include easeOut;
      }

      &:focus {
        background: white;
        color: darken($primary-color, 40);
      }
    }
  }
  .menu {
    display: grid;
    display: none;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: auto;
    margin-top: 4rem;
    background-color: rgba(90, 59, 47, 0.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;

    &-header {
      text-align: center;
      color: #d94a16;
      margin-top: 20px;
      margin-bottom: 30px;

      button {
        width: 30px;
        height: 30px;
        color: black;
        font-size: 22px;
        font-weight: bold;
        float: right;
        margin-right: 15px;
        cursor: pointer;
      }
    }

    &-offers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      margin-left: 30px;
      padding: 20px;

      h2 {
        font-size: 1.5rem;
        color: #d94a16;
        margin-bottom: 10px;
      }

      input {
        margin: 5px;
        font-size: 1rem;
      }

      span {
        color: #03062b;
        margin-right: 30px;
        float: right;
      }
    }
    .cart {
      //   margin-top: 20px;
      //   margin-bottom: 20px;
      margin: 20px;
      button {
        float: right;
      }

      #totalPrice {
        color: #03062b;
        font-size: 1.3rem;
      }
    }
  }
}

@import "mobile";
